<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stardewdle</title>
    <style>
        body {
            margin: 0;
        }

        .background{
            background-image: linear-gradient(to top, #40b4f2, #2ba8ef, #149beb, #008ee6, #0081e0, #007bdd, #0075da, #036fd7, #036fd7, #036fd7, #036fd7, #036fd7);
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <div class="background">
        <div>
            <image src="/static/images/main-title.png"></image>
        </div>
        <div class="game-buttons">
            <button>AAAA</button>
        </div>
        


    </div>
    <script src="/static/js/index.js"></script>
</body>
</html>